<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar__logo">
      <img src="assets/img/logo.jpg" alt="Tu Logo" class="navbar__logo-img" />
      {{ 'APP_TITLE' | translate }}
    </a>
    <a class="navbar__menu-toggle" [class.is-active]="isMenuOpen" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <ul class="navbar__links" [class.is-open]="isMenuOpen">
      <li class="navbar__item">
        <a routerLinkActive="active" class="navbar__link" (click)="goTo('cart')">{{ 'BUTTONS.MYCART' | translate }}</a>
      </li>
      <li class="navbar__item">
        <a routerLinkActive="active" class="navbar__link" (click)="goTo('dashboard')">Productos</a>
      </li>
      <li class="navbar__item">
        <a routerLinkActive="active" class="navbar__link" (click)="goTo('orders')">Orders</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/contacto" routerLinkActive="active" class="navbar__link" (click)="closeMenu()">Contacto</a>
      </li>
      <li class="navbar__item navbar__btn">
        <a routerLink="/login" class="navbar__button" (click)="closeMenu()">{{ 'BUTTONS.LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>