<nav class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar__logo">
      <img src="assets/img/logo.jpg" alt="Tu Logo" class="navbar__logo-img" />
      EcommerceIR
    </a>
    <!--
    <div class="navbar__menu-toggle" [class.is-active]="isMenuOpen" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    -->
    <ul class="navbar__links" [class.is-open]="isMenuOpen">
      <li class="navbar__item">
        <a routerLink="/home" routerLinkActive="active" class="navbar__link" (click)="closeMenu()">Inicio</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/productos" routerLinkActive="active" class="navbar__link" (click)="closeMenu()">Productos</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/servicios" routerLinkActive="active" class="navbar__link" (click)="closeMenu()">Servicios</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/contacto" routerLinkActive="active" class="navbar__link" (click)="closeMenu()">Contacto</a>
      </li>
      <li class="navbar__item navbar__btn">
        <a routerLink="/login" class="navbar__button" (click)="closeMenu()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>