.spinner-overlay {
  position: fixed; /* Posiciona el overlay sobre todo el viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de todos los demás elementos */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Ancho del contenedor del spinner */
  height: 100px; /* Alto del contenedor del spinner */
  border-radius: 10px; /* Bordes ligeramente redondeados */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente para el spinner */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.spinner-image {
  width: 80px; /* Tamaño de la imagen dentro del contenedor */
  height: 80px;
  animation: spin 1.5s linear infinite; /* Aplica la animación de giro */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}