
    .product-list-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Grid responsiva */
      gap: 25px; /* Espacio entre las tarjetas */
      padding: 20px;
    }