<div class="login-container">
    <h2>{{ 'WELCOME' | translate }}</h2>
    <form [formGroup]="credentialForm">
        <div class="input-group">
            <input type="text" id="username" formControlName="username" name="username" placeholder=" " required>
            <label for="username">{{ 'PLACEHOLDERS.USER_NAME' | translate }}</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" formControlName="password" name="password" placeholder=" " required>
            <label for="password">{{ 'PLACEHOLDERS.PASSWORD' | translate }}</label>
        </div>
        <button type="button" (click)="isCreate? onCreate() : onSubmit()" class="login-button" [disabled]="isLoading">{{
            (isCreate?'BUTTONS.CREATE_ACCOUNT':'BUTTONS.LOGIN') | translate }}</button>
        <div class="forgot-password" *ngIf="!isCreate">
            <a href="#">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>

        <div class="create-account-section">
            <p>{{ (!isCreate?'LOGIN.NO_ACCOUNT_QUESTION':'LOGIN.ACCOUNT_QUESTION') | translate }}</p>
            <button type="button" class="link-button" (click)="notIsCreate()">
            {{ (!isCreate?'BUTTONS.CREATE_ACCOUNT':'BUTTONS.LOGIN') | translate }}
            </button>
        </div>
    </form>
</div>